<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="template-container">
        <div class="template-nav">template-nav</div>
        <div class="template-header"> template-header </div>
        <div class="template-top-section"> template-top-section</div>
        <div class="template-body1">template-body1</div>
        <div class="template-body2">template-body2</div>
        <div class="template-contact">template-contact</div>
        <div class="template-footer">template-footer</div>
    </div>


</body>

</html>